/* Reset de estilos y configuración global */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

.item-detail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.card {
  border: none; 
  text-align: center;
}

.card-body {
  text-align: center;
}

.product-image {
  max-width: 100%; 
}

.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


button {
  border: none; 
  color: crimson; 
  color: #fff; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
}


.item-detail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  border: none; 
  text-align: center;
}

.card-body {
  text-align: center;
}

.product-image {
  max-width: 100%;
}

.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none; 
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
}

.count-input {

border: none; 
text-align: center; 
font-size: 18px; 
width: 50px; 
}

button.increment, button.decrement {
  border: none;
}


.add-to-cart-button {
  text-align: center;
  margin-top: 20px; 
}


.counter-display {
  font-size: 18px;
}

.count-input {
  border: none; 
  text-align: center; 
  font-size: 18px; 
  width: 50px; 
}


.button-smaller {
  border: none; 
  background-color: crimson; 
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px; 
}


.button-add {
  border: none; 
  background-color: crimson; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
}


.input-smaller {
  border: none; 
  border-radius: none;
  text-align: center; 
  font-size: 18px; 
  width: 50px; 
}


.cart-widget {
  display: flex;
  align-items: center;
  
  
}

.small-text {
  font-size: 17px; 
}

.small-card-body {
  font-size: 14px; 
}