/* Reset de estilos y configuración global */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

/* Estilos generales para enlaces */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* Estilos generales para el cuerpo del documento */
body {
  margin: 0;
  padding: 0;
}

/* Estilos para encabezados */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
}

/* Estilos para botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Estilos para la barra de navegación */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: crimson;
  color: beige;
  z-index: 1000; /* Asegura que la barra esté en el frente */
  display: flex;
  align-items: center; /* Alinea verticalmente */
  padding: 0 20px;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav a {
  padding: 10px;
  text-decoration: none;
  color:black;
  margin-right: 20px;
}


.nav a:last-child {
  margin-right: 0; /* Elimina el margen derecho del último enlace */
}

.nav a:hover {
  color: white;
}

/* .logo {
  width: 100px; /* Ajusta el ancho según tu logo */
  /* Mantiene la proporción del logo */
  /* margin-left: 20px; /* Agrega margen izquierdo */
   /* Alinea verticalmente con la altura de la barra de navegación */
 

.logo {
  height: 90px; /* Ajusta la altura del logo */
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%); /* Forma personalizada */
  margin-left: 20px;
  
}
/* Estilos para el contenido de los componentes */
.cart-widget {
  position: absolute;
  top: 0;
  right: 0; /* Cambiado a margen derecho */
  background-color: crimson;
  color: white; /* Texto en blanco */
  padding: 20px; /* Espaciado interno */
  display: flex;
  align-items: center;
  z-index: 1000;
}

.cart-widget:hover {
  color: black;
}

.item-list-container {
  /* ...otros estilos ... */
  margin: 100px auto; 
  margin-left: 20px;
  /* margin: 5rem auto;Centrar horizontalmente y verticalmente */
  background-color: white; /* Color negro */
  color: black; /* Texto en blanco */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Centrar el contenido */
}
/* Agrega más estilos específicos para tus componentes si es necesario */
